<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Net Worth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Personal Net Worth Chart</a>
    </nav>
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Assets Overview</h4>
                    </div>
                    <div class="card-body">
                        {% for holding_account in all_holding_account %}
                        <h4><span class="badge badge-primary">{{ holding_account }}</span></h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for netmodel in netmodel_list %}{% if netmodel.holding_account == holding_account %}
                            <li>{{ netmodel.assets_name }}：{{ netmodel.total_price }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Net Worth</h4>
                    </div>
                    <p>{{ total_assets }}</p>
                </div>
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script>
        var ctx = document.getElementById('myChart');
        var all_totalnetmodel_price = {{ all_totalnetmodel_price | safe }};
        var all_totalnetmodel_date = {{ all_totalnetmodel_date | safe }};
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: all_totalnetmodel_date,
                datasets: [{
                    label: 'Net Worth',
                    data: all_totalnetmodel_price,
                    borderColor: 'rgba(36, 162, 235, 1)',
                    backgroundColor: 'rgba(36, 162, 235, 0.4)',
                    pointBackgroundColor: 'rgba(36, 162, 235, 1)',
                    pointRadius: 5,
                    pointHoverRadius: 10
                }]
            }
        });
    </script>
</body>

</html>